{% extends 'portfolio/base.html' %}

{% block content %}

    {% load static %}

    <div class="container">

        <div class="row pt-5">
            <div class="col">
                <img class="image-fluid" src="{% static 'portfolio/self.jpg' %}" alt="self" height="250pt">
            </div>
            <div class="col-8 mt-5">
                <h3>
                    Hello! I'm Tianyang (Ethan) Zheng
                </h3>
                <p class="mt-3">
                    I'm an undergraduate student at Washington University in St. Louis,
                    majoring in Computer Science and Mathematics.
                </p>
                <p class="mt-3">
                    I'll graduate in May 2021.
                </p>
            </div>
        </div>


        <h2 class="mt-5">Projects</h2>
        <hr>



        {% for project in projects %}
            <div class="row mt-4">
                <div class="col-5 text-center">
                    {% if project.url %}
                        <a href="{{ project.url }}" class="text-link">
                    {% endif %}
                    <img src="{{ project.image.url }}" alt="image" height="200pt">
                    {% if project.url %}
                        </a>
                    {% endif %}
                </div>
                <div class="col-7 mt-3">
                    {% if project.url %}
                        <a href="{{ project.url }}" class="text-link">
                    {% endif %}
                    <h5>{{ project.title }}</h5>
                    {% if project.url %}
                        </a>
                    {% endif %}
                    <p>
                        {{ project.description|safe}}
                    </p>
                </div>

            </div>
        {% endfor %}

        <h2 class="mt-5">Course Projects</h2>
        <hr>

        {% for course_project in course_projects %}
            <div class="row mt-4">
                <div class="col-5 text-center">
                    {% if course_project.url %}
                        <a href="{{ course_project.url }}" class="text-link">
                    {% endif %}
                    <img src="{{ course_project.image.url }}" alt="image" height="200pt">
                    {% if course_project.url %}
                        </a>
                    {% endif %}
                </div>
                <div class="col-7 mt-3">
                    {% if course_project.url %}
                        <a href="{{ course_project.url }}" class="text-link">
                    {% endif %}
                    <h5>{{ course_project.title }}</h5>
                    {% if course_project.url %}
                        </a>
                    {% endif %}
                    <p>
                        {{ course_project.description|safe }}
                    </p>
                </div>

            </div>
        {% endfor %}

    </div>

{% endblock %}
