{% extends 'portfolio/base.html' %}

{% block content %}
    <div class="container">

        <div class="mt-5">
            {% for blog in blogs %}
                <a href="{% url 'blog:detail' blog.id %}" class="text-link">
                    <h2>{{ blog.title }}</h2>
                </a>
                <h5 class="text-secondary">{{ blog.date|date:'M d Y' }}</h5>
                <p>{{ blog.description|striptags|truncatechars:100 }}</p>

            {% endfor %}
        </div>

    </div>

{% endblock %}